# Combining Both Regions into One CSV

In [1]:
import pandas as pd

In [5]:
bej = pd.read_csv('bejaia_region_clean.csv')
sid = pd.read_csv('sidibelabbes_region_clean.csv')

In [6]:
# Adding the region columns
bej['region'] = 'bejaia'
sid['region'] = 'sidibelabbes'
print(bej.head(3))
print(sid.head(3))

         date  day  month  year  temperature  rh  ws  rain  ffmc  dmc   dc  \
0  2012-06-01    1      6  2012           29  57  18   0.0  65.7  3.4  7.6
1  2012-06-02    2      6  2012           29  61  13   1.3  64.4  4.1  7.6
2  2012-06-03    3      6  2012           26  82  22  13.1  47.1  2.5  7.1

   isi  bui  fwi   classes  region
0  1.3  3.4  0.5  not fire  bejaia
1  1.0  3.9  0.4  not fire  bejaia
2  0.3  2.7  0.1  not fire  bejaia
         date  day  month  year  temperature  rh  ws  rain  ffmc  dmc   dc  \
0  2012-06-01    1      6  2012           32  71  12   0.7  57.1  2.5  8.2
1  2012-06-02    2      6  2012           30  73  13   4.0  55.7  2.7  7.8
2  2012-06-03    3      6  2012           29  80  14   2.0  48.7  2.2  7.6

   isi  bui  fwi   classes        region
0  0.6  2.8  0.2  not fire  sidibelabbes
1  0.6  2.9  0.2  not fire  sidibelabbes
2  0.3  2.6  0.1  not fire  sidibelabbes

In [7]:
# Stacking the dataframes on top of each other
combo = pd.concat([bej, sid], axis = 0).reset_index(drop = True)
combo

,date,day,month,year,temperature,rh,ws,rain,ffmc,dmc,dc,isi,bui,fwi,classes,region
0,2012-06-01,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,bejaia
1,2012-06-02,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,bejaia
2,2012-06-03,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,bejaia
3,2012-06-04,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,bejaia
4,2012-06-05,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,bejaia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,2012-09-26,26,9,2012,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,fire,sidibelabbes
240,2012-09-27,27,9,2012,28,87,15,4.4,41.1,6.5,8.0,0.1,6.2,0.0,not fire,sidibelabbes
241,2012-09-28,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,sidibelabbes
242,2012-09-29,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,sidibelabbes
243,2012-09-30,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,sidibelabbes

In [8]:
#writing out to csv
combo.to_csv('regional_clean.csv', index = False)
df = pd.read_csv('regional_clean.csv')
df

,date,day,month,year,temperature,rh,ws,rain,ffmc,dmc,dc,isi,bui,fwi,classes,region
0,2012-06-01,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,bejaia
1,2012-06-02,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,bejaia
2,2012-06-03,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,bejaia
3,2012-06-04,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,bejaia
4,2012-06-05,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,bejaia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,2012-09-26,26,9,2012,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,fire,sidibelabbes
240,2012-09-27,27,9,2012,28,87,15,4.4,41.1,6.5,8.0,0.1,6.2,0.0,not fire,sidibelabbes
241,2012-09-28,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,sidibelabbes
242,2012-09-29,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,sidibelabbes
243,2012-09-30,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,sidibelabbes